@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&family=Montserrat&display=swap');

content {
    max-width: 1600px;
    margin: 0 auto; 
}
nav a {
    text-align: center; 
    color: #FDF2ED;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: black;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #FDF2ED;
    font-family: "Montserrat";
    font-size: 22px;
}
header {
    background-color: #144022;
}
nav a:hover {
    background-color: #796A61;
    color: white;
}
.book, .join {
    background-color: #FDF2ED;
    text-decoration: none;
    font-size: 18px;
    padding: 0;
    margin: 0;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #796A61;
    color: white;
}
#background {
    background-color: #FDF2ED;
}
.msg{
    background-color: #144022;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: #0D3B66;
    color: #FDF2ED;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color: antiquewhite;
}
.msg h2 {
    color: antiquewhite;
    font-size: 2em;
}
.msg p {
    color: #FDF2ED;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color: aliceblue;
    text-decoration: none;
}
footer a:hover {
    color: black;
    text-decoration: underline;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 1.2em;
}
.logo {
    width: 80px;
}
.home-title {
    font-family: "Exo";
    margin-top: 10px;
}
h2 {
    margin: 0;
}
#logo-link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-image {
    border: 10px solid black
}
main section img {
    box-sizing: border-box;
}